/*Colores Paleta*/
/* Color Theme Swatches in Hex */
$Color1: #7C8C03;
$Color2: #D2D904;
$Color3: #F2B705;
$Color4: #F27C38;
$Color5: #F2F2F2;

$colortitulo: #ffb61a;
$fonttitle:"texturina";
$titlenavsize:2rem;